@{
    ViewData["Title"] = "Domaci zadatak";
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        #myInput {
            background-image: url('/css/searchicon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            width: 100%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
            margin-bottom: 12px;
        }

        #myTable {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 18px;
        }

            #myTable th, #myTable td {
                text-align: left;
                padding: 12px;
            }

            #myTable tr {
                border-bottom: 1px solid #ddd;
            }

                #myTable tr.header, #myTable tr:hover {
                    background-color: #f1f1f1;
                }
    </style>
</head>
<body>

    <h2>Show all books</h2>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for books.." title="Type in a name">

    <table id="myTable">
        <tr class="header">
            <th style="width:10%;">id</th>
            <th style="width:40%;">Name</th>
            <th style="width:40%;">Genre</th>
            <th style="width:40%;">Price</th>

        </tr>
        @foreach (var b in ViewBag.book)

        {


            if (b.Deleted == false)
            {
                <tr style='font-weight:bold'>
                    <td>@b.id</td>
                    <td>@b.Name</td>
                    <td>@b.genre</td>
                    <td>@b.Price</td>
                    <input type="hidden" id="form" name="fname" value="ListAll">
                    <td>[<a href='/BookStore/Delete?id=@b.id&fname=ListAll'>Obrisi</a>]</td>
                </tr>
            }


        }
        </table>
    <form action="/BookStore/Sortiraj" method="post" id="form">
        <select name="smer">
            <option value="1">Rastuce po imenu</option>
            <option value="2">Opadajuce po imenu</option>
            <option value="3">Rastuce po ceni</option>
            <option value="4">Opadajuce po ceni</option>
        </select><br />
        <input type="hidden" id="form" name="fname" value="ListAll">
        <input type="submit" value="Sortiraj" />
    </form>
    


<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</body>
</html>

